
$OUTER_PADDING : 30px;

$min-width: 320px;
$max-width: 1024px;

$footer-height: 286px;

//BREAKPOINTS

$bp-mobile: 649px;
$bp-tablet: 980px;

$colour_white: #fff;
$colour_black: #000;
$colour_blue: #044290;
$colour_red: #e30330;
$colour_darkgrey: #88898a;

$image_path: "../img/";


