<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{#if this.page.data.title }}{{ this.page.data.title }} - {{/if}}Rajawali3d</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

    <meta name="description" content="Ideas and innovation company" />
    <meta name="keywords" content="Rajawali, Rajawali3d, 3d, Android, Library, Open source, OpenGL ES {{#if this.page.data.title }}, {{ this.page.data.title }}{{/if}}" />

    <meta property="og:title" content="{{#if this.page.data.title }}{{ this.page.data.title }} - {{/if}}Rajawali3d" />
    <meta property="og:description" content="Rajawali3d - The open source 3D engine for the Android platform" />
    <meta property="og:image" content="" />

    <meta name="robots" content="NOODP" />

    <link rel="publisher" href="https://plus.google.com/communities/116529974266844528013"/>
    <link rel="dns-prefetch" href="//www.google-analytics.com" />

    <!-- build:css /assets/css/style.min.css -->
    <link href="/assets/css/styles.css" rel="stylesheet">
    <!-- endbuild -->
	{{#if this.page.data.css}}
        <link rel="stylesheet" href="{{ this.page.data.css }}">
	{{/if}}

    <!-- build:js /assets/js/modernizr.min.js -->
    <script src="/assets/js/modernizr.js"></script>
    <!-- endbuild -->

</head>

<body>

	<header class="header">
		<h1 class="logo">
			<a href="/">Rajawali3d</a>
		</h1>
        <nav class="nav">
            <a href="#navigation" class="nav-icon-mobile">Navigation</a>
            <div class="active-item-background"></div>
            <ul>
                <li><a href="/news/"{{#is this.page.data.section 'News'}} class="selected"{{/is}}>NEWS</a></li>
                <li><a href="/features/"{{#is this.page.data.section 'Features'}} class="selected"{{/is}}>FEATURES</a></li>
                <li><a href="/getting-started/"{{#is this.page.data.section 'Getting Started'}} class="selected"{{/is}}>GETTING STARTED</a></li>
                <li><a href="/download/"{{#is this.page.data.section 'Download'}} class="selected"{{/is}}>DOWNLOAD</a></li>
                <li><a href="/showcase/"{{#is this.page.data.section 'Showcase'}} class="selected"{{/is}}>SHOWCASE</a></li>
                <li><a href="/get-involved/"{{#is this.page.data.section 'Get Involved'}} class="selected"{{/is}}>GET INVOLVED</a></li>
                <li><a href="/donate/"{{#is this.page.data.section 'Donate'}} class="selected"{{/is}}>DONATE</a></li>
            </ul>

        </nav>
	</header>

